@keyframes glow {
  0% {
    width: 0px;
    height: 0px;
    top: 100px;
    right: 100px;
  }
  5% {
    width: 50px;
    height: 50px;
  }
  10% {
    width: 0;
    height: 0;
    top: 100px;
    right: 100px;
  }
  15% {
    width: 0;
    height: 0;
    top: 300px;
    right: 1200px;
  }
  20% {
    width: 50px;
    height: 50px;
    top: 300px;
    right: 1200px;
  }
  25% {
    width: 0px;
    height: 0px;
    top: 300px;
    right: 1200px;
  }
  30% {
    top: 500px;
    right: 200px;
  }
  35% {
    width: 0px;
    height: 0px;
  }
  40% {
    width: 50px;
    height: 50px;
    /* top: 500px;
      right: 200px; */
  }
  45% {
    width: 0;
    height: 0;
    top: 500px;
    right: 200px;
  }
  50% {
    width: 0;
    height: 0;
    top: 800px;
    right: 1200px;
  }
  55% {
    width: 50px;
    height: 50px;
  }
  60% {
    width: 0;
    height: 0;
    top: 500px;
    right: 400px;
  }
  65% {
    /* width: 0;
      height: 0; */
    top: 200px;
    right: 900px;
  }
  70% {
    width: 50px;
    height: 50px;
  }
  75% {
    width: 0;
    height: 0;
    top: 200px;
    right: 900px;
  }
  80% {
    width: 50px;
    height: 50px;
  }
  85% {
    width: 0;
    height: 0;
    top: 200px;
    right: 900px;
  }
  90% {
    top: 700px;
    right: 600px;
  }
  95% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 0;
    height: 0px;
    top: 700px;
    right: 600px;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  background: #000;
  top: 0;
  overflow: hidden;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}


.glowing span:nth-child(3n + 3)::before,
.glowing span:nth-child(3n + 2)::before,
.glowing span:nth-child(3n + 1)::before {
  background: var(--light);
  box-shadow: 0 0 20px rgb(179, 209, 145), 0 0 40px rgb(180, 202, 156),
    0 0 60px rgb(170, 196, 141), 0 0 80px rgb(169, 189, 146),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}


/* .glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 0.1);
} */

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 30s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 8s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
