@font-face {
    font-family: "made-tommy";
    src: url(../Fonts/mt/MADETOMMY-Thin.woff) format("woff");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "made-tommy";
    src: url(../Fonts/mt/MADETOMMY-Light.woff) format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "made-tommy";
    /* src: url(../Fonts/mt/MADETOMMY-Medium.woff) format("woff"); */
    src: url(../Fonts/mt/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "made-tommy";
    src: url(../Fonts/mt/MADETOMMY-Medium.woff) format("woff");
    /* src: url(../Fonts/mt/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf); */
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "made-tommy";
    src: url(../Fonts/mt/MADETOMMY-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "made-tommy";
    src: url(../Fonts/mt/MADETOMMY-ExtraBold.woff) format("woff");
    font-style: normal;
    font-weight: 900;
}


/* font astronot  */

@font-face {
    font-family: "Asterone";
    src: url(../Fonts/as/Asterone_DEMO.woff) format("woff");
    font-style: normal;
    font-weight: 400;
  }